
@model BankAppMvc.ViewModels.PutMoneyInViewModel

@{
    ViewData["Title"] = "Tack";
}

<section class="py-5">
    <div class="row">
        <div class="col-lg-12 mb-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Tack!</h3>
                    <div class="card-body">
                        <h6 class="h6 text-uppercase mb-0">Pengarna har sätts in i kontot!</h6>

                    </div>

                </div>
    </div>
            </div>
        </div>
</section>