
@model BankAppMvc.ViewModels.TakeOutMoneyViewModel

@{
    ViewData["Title"] = "Tack";
}

<section class="py-5">
    <div class="row">
        <div class="col-lg-12 mb-5">
            <div class="card">
                        <div class="card-header">
                             <h3 class="h6 text-uppercase mb-0">Tack!</h3>
                        </div>
                        <p class="p-0">Pengarna har dragits ut från kontot!</p>
            </div>

        </div>
    </div>
</section>